.drbtn {
  color: #ffffff !important;
  box-shadow: 1px 1px 1px #6f389f;
  padding: 5px 15px !important;
  border: 1px solid #6f389f !important;
  border-radius: 0px !important;
  background: #6f389f !important;
  margin: 0;
}
.drbtn:hover {
  color: #6f389f !important;
  background: #232323 !important ;
}
.drbtn:focus {
  color: #6f389f !important;
  background: #232323 !important ;
  border: none !important;
}
