.container:hover {
  background: rgb(0,0,0,.6) !important;
}

.drbtn {
  color: #fff !important;
  padding: 5px 15px !important;
  border: none !important;
  border-radius: 4px !important;
  background: transparent !important;
  margin: 0;
  font-size: 16px;
  outline: none !important;
}

.drbtn:focus {
  color: rgb(29, 28, 28) !important;
  background: rgb(178, 179, 182) !important ;
  outline: none !important;
  box-shadow: none;
  border: none;
}
.dropdown-menu.show {
  transition: none !important;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none !important;
}
