.SupportUs {
    text-align: center;
    padding: 2rem;
}

.titleMain{
  font-family: 'Poppins', sans-serif;
  color: #4e89ae;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 3px 4px 2px #0000002e;
}

.SupportusQuote {
    color: rgb(0, 153, 255);
    font-size: 1.7rem;
    margin-bottom: 11px;
}

.quoteAuthor {
    color: gray;
    font-size: 20px;
}

.patreonAndCoffe {
    margin-top: 30px;
    margin-left: auto; 
    display: flex;
    justify-content: center;
}

.link {
    animation: mymove 2s 1;
    position: relative;
    margin-left: 40px;
}

.link:hover {
    transform: scale(2);
}

@keyframes mymove {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  75% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}