@use './../../../../scss/mixin';
@use './../../../../scss/colors';

$blue1:#02609b;

.OpenSource {
  text-align: center;
  margin-top: 7rem;

  .title {
    @include mixin.section-title;
  }
  
  .content {
    font-size: 1.5rem;
    margin: 15px;
  }

  .card_holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      display: grid;
      grid-template-columns: 300px;
      grid-template-rows: auto auto auto;
      grid-template-areas: "image" "text" "stats";
      border-radius: 18px;
      box-shadow: 2px 2px 6px 0px colors.$black_0-3;
      text-align: center;
      overflow: hidden;
      position: relative;
      z-index: 0;
      transition: 0.5s ease;
      cursor: pointer;
      margin: 30px;
      width: fit-content;

      &:hover {
        transform: scale(1.15);
        box-shadow: 2px 2px 6px 0px colors.$black_0-3;
      }

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        height: 52px;
        width: 52px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
      }

      &:hover:before {
        transform: scale(22);
      }

      .card_image {
        grid-area: image;
        grid-row: 1;
        grid-column: 1;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        img {
          height: 250px;
          width: 270px;
          border-radius: 10px;
          margin-top: 10px;
        }
      }
      .card_text {
        grid-area: text;
        grid-row: 2;
        grid-column: 1;
        margin: 25px;

        p {
          color: grey;
          font-size: 14.9px;
          margin: 0;
        }

        h2 {
          font-size: 28px;
          color: colors.$black;
          font-weight: 500;
        }
      }
      .card_stats {
        grid-area: stats;
        padding: 17px 0 23px 0;
        margin-bottom: 5px;
        text-align: center;
        grid-row: 3;
        grid-column: 1;

        .card_btn {
          background-color: colors.$steel-blue;
          background: linear-gradient(to bottom, colors.$white1 10%, colors.$purple 100%);
          color: colors.$white;
          transition: 0.6s;
          border-radius: 5px;
          box-shadow: 0 3px 14px colors.$black_0-3;
          letter-spacing: 0.2px;
          padding: 0.7rem 1rem;
          text-decoration: none;
        }
        
        .card_btn:hover {
          color: colors.$purple;
          background-color: colors.$white;
          background: linear-gradient(to bottom, colors.$white1 10%, colors.$white 100%);
          box-shadow: 0px 0px 10px $blue1;
          text-decoration: none;
        }
      }
    }
  }
}
