.container {
	width: 90%;
	max-width: 700px;
	min-height: 20rem;
	height: max-content;
	margin: 2rem auto;
	border: 2px solid #cccccc;
	display: flex;
	border-radius: 5px;

	&_image {
		width: Min(Calc(100% - 150px), max-content);
		margin: 10px;
		padding: 8px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		overflow-x: auto;
	}

	&_upload {
		margin: 16px;
		border: none;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	background-color: transparent;
	flex-direction: column;
	padding: 10px;
		min-width: 150px;
		width: 150px;
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		&:hover, &:focus {
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232e44ff' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	}
	}
}

.image {
	position: relative;

	& > img {
		object-fit: cover;
		object-position: center center;
		display: block;
		width: 150px;
		height: 150px;
		border-radius: 10px;
		margin-right: 10px;
		box-shadow: 0.8px 2px 6px rgba(36, 34, 34, 0.507);
	}

	& > span {
		position: absolute;
		top: 8px;
		right: 18px;
		color: white;

		&:hover {
			color: rgba(255, 255, 255, 0.589);
		}
	}
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}

@media (max-width: 650px) {
	.container {
		flex-direction: column;
		&_image {
			width: 90%;
		}
		&_upload {
			width: 90%;
		}
	}
}
