.wrapper {
  border: 3px solid var(--mainTheme);
}
.imgContainer {
  position: relative;
}
.imgContainer {
  position: relative;
  height: 700px;
  display: none;
}


.titleInput,
.contentInput {
  border: none;
  background-color: transparent;
  z-index: 2;
  line-height: 2rem;
  width: 100%;
  color: rgba(2, 2, 66, 0.753);
  padding: 2px 0px;
}

::-webkit-scrollbar {
  display: none;
}

.titleInput {
  height: 10%;
}

.contentInput {
  height: 90%;
  
}