.wrapper {
  border: 3px solid var(--mainTheme);
}

.imgContainer {
  position: relative;
}

.imgContainer img {
  height: 100%;
  width: 100%;
}

.titleInput, .contentInput {
  position: absolute;
  border: none;
  background-color: transparent;
  overflow: hidden;
  z-index: 2;
  width: 100%;
}

::-webkit-scrollbar {
  width: 20px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #203a43;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #103F5F;
}

::-webkit-scrollbar-corner {
  background: rgb(75, 72, 72);
}

.titleInput {
  top: 0;
  height: 10%;
}

.contentInput {
  bottom: 0;
  height: 90%;
}

textarea {
  color: rgba(2, 2, 66, 0.753);
}