.welcome {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
}

.splash-div{
    margin-top: 10%;
}
h1.title{
font-family: 'Architects Daughter', cursive;
text-transform: uppercase;
font-weight: 900;
font-size:89px;
color: white;
margin: 20px;
}
.flow{
    font-size: 50px;
    color: white;
}
.line-1{
    color: white;
    padding: 20px 0;
    position: relative;
    top: 50%;  
    width: 50%;
    margin: 50px auto;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
.foot{
    color: white;
    position: relative;
    left: 15%;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 7s steps(59) 3s 5 normal both,
             blinkTextCursor 500ms steps(59) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


/* start welcome animation */

body.welcome {
    background-image: url("kelly-sikkema-vtKc7BpJ-vU-unsplash.jpg");
    background-size: cover;
}
.welcome .splash {
  height: 0px;
  padding: 0px;
  border: 130em solid white;
 position: fixed;
  left: 50%;
  top: 100%;
  display: block;
  box-sizing: initial;
  overflow: hidden;

  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

.welcome #welcome {
  background-image:url("https://bestanimations.com/Books/writing/pen-writing-calligraphy-you-are-beautiful-animated-gif.gif"); 
    background-image: linear-gradient(to top,#4c75f2,darkcyan,white);
  width: 56px;
    
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
}
   
/* moveIn */
.welcome header,
.welcome a.btn {
  opacity: 0;
  animation: moveIn 2s 3.1s ease forwards;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background-image:url("https://bestanimations.com/Books/writing/pen-writing-calligraphy-you-are-beautiful-animated-gif.gif");
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #039be5;
  }
}

@keyframes materia {
  0% {
    background: #039be5;
  }
  50% {
    background: #039be5;
    top: 26px;
  }
  100% {
    background-image: linear-gradient(to left, purple,white,blue);
 
    width: 100%;
    height: 64px;
    border-radius: 0px;
    top: 26px;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 