.ContactUs {
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  padding-top: 5rem;
}

.contact_and_info_container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  background: #14557b;
}

.map {
  min-height: 60vh;
  min-width: 418px;
  background: #14557b;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

@media (max-width: 418px) {
  .map {
    min-width: 100vw;
    min-height: 67vh;
  }
}
