.canvas_toolbox {
    display: flex;
    justify-content: center;
    background-color: rgb(217, 252, 252);
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.5rem;
    box-shadow: inset 0 0 3px gray;
}

.canvas_toolbox_feature{
    margin: 3px 7px;
    display: flex;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stroke {
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 3px;
    padding: 0.1rem;
    display: flex;
    cursor: pointer;
}

.active_stroke {
    background-color: aquamarine;
}

.fill {
    color: rgb(253, 195, 120);
}