.canvas_toolbox {
  position: absolute;
  top: 0.75rem;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 0 3px 0.3px gray;
  height: 98%;
  overflow-y: auto;
}

.feature {
  padding: 0.5rem;
  margin: 0.2rem 0;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
}

.title {
  font-size: 0.9rem;
  font-weight: bold;
  padding-bottom: 0.3rem;
}

.body {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.colorPicker {
  display: flex;
  justify-content: flex-start;
}

.hexInput {
  margin-left: 3px;
  width: 98px;
  border-radius: 4px;
  padding-left: 5px;
  border: 0.5px solid #cccccc;
}

.feature_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
  border-radius: 5px;
  margin: 3px;
  padding: 0.3rem;
  display: flex;
  cursor: pointer;
}

.active_feature_box {
  background-color: #c7ccd1;
}

.feature input[type="color"] {
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
}

.feature select {
  outline: none;
}

.fill_image_container {
  position: relative;
  overflow: hidden;
}

.fill_image_container input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.sliderWrapper {
  display: grid;
  justify-items: left;
  width: 100%;

  .slider {
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 100%;
    transition: box-shadow 0.2s ease-in-out;
    overflow: hidden;
    height: 15px;
    -webkit-appearance: none;
    background-color: #ddd;
    
    &::-webkit-slider-runnable-track {
      height: 15px;
      -webkit-appearance: none;
      color: #444;
      -webkit-transition: box-shadow 0.2s ease-in-out;
      transition: box-shadow 0.2s ease-in-out;
    }
    &::-webkit-slider-thumb {
      width: 15px;
      -webkit-appearance: none;
      height: 15px;
      cursor: pointer;
      background: #fff;
      border: rgb(221, 221, 221) solid 1px;
      box-shadow: -330px 0 0 320px #1597ff, inset 0 0 0 20px #3b4fff;
      border-radius: 50%;
      -webkit-transition: box-shadow 0.2s ease-in-out;
      transition: box-shadow 0.2s ease-in-out;
      position: relative;
    }
    &:active, &:hover {
      &::-webkit-slider-thumb {
        background: #fff;
        box-shadow: -330px 0 0 320px #1597ff, inset 0 0 0 3px #3b4fff;
      }
    }
  }
}
