.canvas_toolbox, .dark_canvas_toolbox {
    position: absolute;
    top: 0.75rem;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 0 3px 0.3px gray;
}
.dark_canvas_toolbox {
    background-color: #1e1e1e;
}

.feature, .dark_feature {
    padding: 0.5rem;
    margin: 0.2rem 0;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
}
.dark_feature {
    background-color: #1e1e1e;
    color: #ced4da;
    box-shadow: 0 0 1px #ced4da;
}

.title {
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
}

.body {
    display: flex;
}

.feature_box, .dark_feature_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef;
    border-radius: 5px;
    margin: 3px;
    padding: 0.3rem;
    display: flex;
    cursor: pointer;
}
.dark_feature_box {
    background-color: #363636;
}

.active_feature_box {
    background-color: #c7ccd1;
}
.dark_active_feature_box {
    background-color: #272727;
}

.feature input[type="color"], .dark_feature input[type="color"]{
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}

.feature select, .dark_feature select {
    outline: none;
}