.canvas_toolbox{
    position: absolute;
    top: 0.75rem;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 0 3px 0.3px gray;
}

.feature{
    padding: 0.5rem;
    margin: 0.2rem 0;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
}

.title {
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
}

.body {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.colorPicker{
    display: flex;
    justify-content: flex-start;
}

.hexInput{
    margin-left: 3px;
    width:98px;
    border-radius: 4px;
    padding-left: 5px;
    border: 0.5px solid #cccccc;
}

.feature_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef;
    border-radius: 5px;
    margin: 3px;
    padding: 0.3rem;
    display: flex;
    cursor: pointer;
}

.active_feature_box {
    background-color: #c7ccd1;
}

.feature input[type="color"]{
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}

.feature select{
    outline: none;
}

.fill_image_container {
    position: relative;
    overflow: hidden;
}

.fill_image_container input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
