.canvas_toolbox {
    display: flex;
    justify-content: center;
    background-color: rgb(217, 252, 252);
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.5rem;
    box-shadow: inset 0 0 3px gray;
}

.canvas_toolbox_feature{
    margin: 0 7px;
}