.to-top-button {
  z-index: 10000;
  position: fixed !important;
  bottom: 1rem;
  right: 1rem;
  background-color: white !important;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  font-size: 23px;
  width: 49px;
  color: #3f51b5;
  transition:all 300ms ease-in-out;
}
.to-top-button:hover{
    background-color:#fff7f7 !important;
    color: #3f51b5;
    transition:all 300ms ease-in-out;
}
button.to-top-button svg {
    margin: 0 0 4px 0px;
}
