.Sketch {
    background-color: rgb(240, 255, 255);
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.1rem;
    font-weight: bold;
    font-family: cursive;
    color: lightseagreen;
}