.slidderBtn {
  display: flex;
  flex-direction: column;
  width: 9rem;
  height: 2rem;
  background-color: rgb(100, 100, 100);
  border: 1px solid var(--mainTheme);
  justify-content: center;
  cursor: pointer;
}
.sliderBarcontainer {
  width: 100%;
}
