
@use './../../../../../../scss/colors';

.info {
  width: 500px;

  .general_info {
    background: colors.$dark-blue;
    color: colors.$white;
    margin: 0.35rem 1rem;
    border-radius: 15px;
    & h2 {
      padding: 40px 20px 10px;
    }
    & p {
      margin-top: 5px;
    }

    .contact_form {
      width: 80%;
      width: 100%;
      margin: auto;

      .contact_form_container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        gap: 15px;
        padding: 20px;
        overflow: hidden;
        position: relative;
        border-radius: 15px;

        .circle {
          position: absolute;
          border-radius: 100%;
          width: 500px;
          height: 500px;
          bottom: -250px;
          right: -250px;
          background-color: colors.$light-pink;

          .circle2 {
            position: absolute;
            border-radius: 100%;
            width: 200px;
            height: 200px;
            top: -150px;
            left: -150px;
            background-color: colors.$royal-blue;
          }
        }

        .fieldsWrap {
          display: flex;
          flex-direction: column;
          gap: 20px;
          position: relative;
          z-index: 1;

          .inputDiv {
            gap: 8px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;

            input {
              width: 100%;
              border: 0;
              background: colors.$light-grey;
              height: 43px;
              padding: 0 20px;
              font-size: 16px;
              outline: none;
              color: colors.$grey;
              border-radius: 5px;
              &:focus {
                border: 1px solid colors.$white;
                border-radius: 20px;
              }
              &::placeholder {
                font-size: 13px;
              }
            }
          }
          .experience {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            span {
              color: colors.$white;
              font-weight: bold;
            }
          }
          textarea {
            border-radius: 8px;
            width: 100%;
            border: 0;
            background: colors.$light-grey;
            font-size: 16px;
            outline: none;
            resize: none;
            padding: 10px;
            height: 110px;
            color: colors.$grey;
          }
          .submit {
            background: colors.$dark-blue;
            font-size: 14px;
            letter-spacing: 4px;
            font-family: "Open Sans", sans-serif;
            margin-top: 20px;
            width: 100%;
            max-width: 220px;
            height: 50px;
            line-height: 50px;
            display: block;
            text-align: center;
            cursor: pointer;
            align-self: flex-end;
            border: 1px colors.$white solid;
            position: relative;
            overflow: hidden;
            box-shadow: inset 2px 0px 2px colors.$white;
            border-radius: 20px;

            .buttonText {
              position: relative;
              z-index: 1;
              font-weight: bolder;
              color: colors.$light-blue;
            }

            .hoverEffect {
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              border-radius: 0 50% 100% 0;
              background-color: colors.$light-grey;
              width: 500px;
              height: 100%;
              transform: scale(0, 1);
              transform-origin: top left;
            }

            &:hover {
              
              & .hoverEffect {
                transform: scale(1);
                height: 200%;
              }
              & .buttonText {
                color: colors.$black-dark-tint;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .info {
    min-width: 70%;
  }
}
	
@media screen and (max-width: 750px) {
	.goodbye-card {
		width: 85%;
	}
	.card-heading {
		font-size: 1.5rem;
		margin-bottom: 3px;
		padding: 7px 0;
	}
	.inside-card p {
		font-size: 0.9rem;
	}
}
textarea{
	margin-bottom: -2%;
}
.validation {
	font-size: 0.9rem;
	font-weight: 500;
	padding-top: 4px;
	color: #f35243;
	margin-top: -3%;
	text-align: left;
	margin-bottom: 3px;
}
.card-heading {
	padding-top: 12px;
	margin-bottom: 8px;
	text-align: center;
	font-size: 1.7rem;
	color: #162c36;
	text-transform: capitalize;
}
.inside-card p {
	font-size: 1.1rem;
	color: #162c36;
}
.inside-card {
	width: 75%;
	margin: 0 auto;
	padding-bottom: 10px;
}
.card {
	width: 80%;
	height: auto;
	margin: 10% auto;
	background-color: #fafcff;
	padding: 20px;
	border-radius: 13px;
}
.goodbye-card {
	width: 80%;
	height: auto;
	margin: 15% auto;
	background-color: #f0f0f0;
	padding-bottom: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px #adabab, -5px -5px 15px #ffffff;
}