textarea {
  border-radius: 8px;
}

.info {
  width: 500px;
}

.general_info {
  background: #3d1f90;
  color: white;
  margin: 0.35rem 1rem;
  border-radius: 15px;
}

.general_info h2 {
  padding: 40px 20px 10px;
}

.general_info p {
  margin-top: 5px;
}

.contact_form {
  width: 80%;
  width: 100%;
  margin: auto;
}

.contact_form input:focus {
  border: 1px solid white;
  border-radius: 20px;
}

.contact_form input {
  width: 100%;
  border: 0;
  background: #fcfcfc;
  height: 43px;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
  color: #7b7474;
  border-radius: 5px;
}

.contact_form input::placeholder {
  font-size: 13px;
}

.contact_form textarea {
  width: 100%;
  border: 0;
  background: #fcfcfc;
  font-size: 16px;
  outline: none;
  resize: none;
  padding: 10px;
  height: 110px;
  color: #7b7474;
}

.contact_form textarea:focus{
  border: 1px solid white;
  border-radius: 20px;
}

.submit {
  background: #3d1f90;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  width: 100%;
  max-width: 220px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  cursor: pointer;
  align-self: flex-end;
  border: 1px #fff solid;
  position: relative;
  overflow: hidden;
  box-shadow: inset 2px 0px 2px white;
  border-radius: 20px;
}
.buttonText {
  position: relative;
  z-index: 1;
  font-weight: bolder;
  color: #08fdd8;
}
.submit:hover .buttonText {
  color: #272727;
}
.hoverEffect {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 0 50% 100% 0;
  background-color: #fcfcfc;
  width: 500px;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: top left;
}

.submit:hover .hoverEffect {
  transform: scale(1);
  height: 200%;
}

.contact_form_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.fieldsWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 1;
}
.inputDiv {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.name {
  display: flex;
  gap: 8px;
}

.name > * {
  width: 149px;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.circle,
.circle2 {
  position: absolute;
  border-radius: 100%;
}

.circle {
  width: 500px;
  height: 500px;
  bottom: -250px;
  right: -250px;
  background-color: #caebb7eb;
}

.circle2 {
  width: 200px;
  height: 200px;
  top: -150px;
  left: -150px;
  background-color: #7174ffeb;
}

.experience span {
  color: white;
  font-weight: bold;
}

@media (max-width: 890px) {
  .info {
    width: 450px;
  }
}

