/*below CSS to add in new file contact.css*/
/*....illustration and content....*/

/** bymeacoffee**/

.buttons {
	align-items: center;
	text-align: center !important;
	flex-grow: 1;
	margin: 0 auto;
	position: relative;
	width: auto;
}

.bat span,
.bot span {
	color: #fff;
	font-size: 22px;
	font-weight: -500;
	padding: 0 8px;
}

.bat,
.bot {
	background-color: #1c1d1f;
	background: #1c1d1f;
	border: 1.6px solid #2c2f33;
	color: none;
	border-radius: 7px;
	color: rgb(34, 34, 34);
	padding: 10px;
	cursor: pointer;
	transition: 0.5s;
}

.bat:hover,
.bat:focus,
.bot:focus,
.bot:hover {
	background-color: #111113;
	color: #111113;
	background: #111113;
	transition: 0.2s;
}

.bot-avatar {
    margin: 0 auto;
	border-radius: 50%;
	position: relative;
	/* margin-left: 100px;
    margin-top: 80px; */
	width: 60%;
	z-index: 2;
	transition: transform 0.2s;
	align-items: center;
	display: flex;
	justify-content: center;
}

#button1:hover {
	transform: scale(1.2);
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#button2:hover {
	transform: scale(1.2);
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.main-banner {
	z-index: 1;
}

.wave-container > svg {
	display: block;
}

.wave-container {
	position: relative;
	color: #fff;
	text-align: center;
	overflow: hidden;
}

@keyframes animateWave {
	0% {
		transform: scale(1, 0);
	}

	100% {
		transform: scale(1, 1);
	}
}

.wave-container > svg {
	display: block;
	transform-origin: top;
	animation: animateWave 10000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #18191b;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/** bymeacoffee**/



.our-team{
    padding: 1% 3%;
    background: #fff;
    margin-top: 30px;  
}
.our-team h5{
    font-family: Montserat;
    text-align: center;
    font-size: 30px;
}
.illustration-text{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 3% 0;
}
@media (max-width: 800px){
    .illustration-text{
        display: flex;
        flex-direction: column;
    }
    .illustration-text .text{
      text-align: center;
    }
}
.illustration-text .text{
/*    changed  */
    margin: 5%; 
    font-family: Montserat;
    font-size: 20px;
}
.illustration-text img{
    width: 100%;
    height: auto;
}

/*............card css.............*/ 

/* mentor's card css start*/

    #cards-mentor{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 85vh;
    }

    .mentor-container {
      position: relative;
      width: 1100px;
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .mentor-container .card {
      background: #fff;
      position: relative;
      max-width: 300px;
      height: 245px;
      margin: 30px 10px;
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      box-sizing: 0 5px 20px rgba(0, 0, 0, 0.5);
      transition: 0.3s ease-in-out;
    }

    .mentor-container .card:hover {
      height: 400px;
    }

    .mentor-container .card .imgBx {
      position: relative;
      width: 260px;
      height: 260px;
      top: -60px;
      left: 5px;
      box-sizing: 0 5px 20px rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    .mentor-container .card .imgBx img {
      max-width: 100%;
      border-radius: 4px;
    }

    .mentor-container .card .content {
      position: relative;
      margin-top: -140px;
      padding: 10px 15px;
      text-align: center;
      color: #111;
      opacity: 0;
      transition: 0.3s ease-in-out;
      visibility: hidden;
    }

    .mentor-container .card .content h5{
        font-weight: bold;
    }

    .mentor-container .card:hover .content {
      visibility: visible;
      opacity: 1;
      margin-top: -40px;
      transition-delay: 0.2s;
    }
    
/* mentor's card css ends*/

/* mentee's card css start*/
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 50px 30px;
}

.profile-card {
    flex: 1 1 30%;
    background: #fff;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 #ccc;
    transition: .3s;
}

.profile-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px -5px #ccc;
}

.profile-icon {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin: 25px 0 10px 0;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.open{
    width: 25%;
}

@media screen and (max-width: 1000px) {
    .profile-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .profile-container{
        flex-direction: column;
        
    }
    .profile-card {
        padding: 20px 15px;
        width: 90%;
    }

    .profile-name {
        font-size: 16px;
    }
    .open {
        width: 35%;
    }
}
/* mentee's card css ends */  

/* Code of conduct and licence CSS*/

.code-licence{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 40%;
    box-shadow: 0 0 25px -5px #ccc;
    transition-duration: 0.4s;
}
.box1:hover{
    transform: scale(1.03);
    box-shadow: 0 0 25px -5px #777;
}
.box1 a img{
    width: 100%;
    height: auto;
    
}
@media (max-width: 800px){
    .code-licence{
    flex-direction: column;
    }
    .box1 a img{
        width: 100%;
        height: auto;
    }
    .box1{
        width: 90%;
        margin: 10px auto;
    }
}

/*.....Also Visit part.....*/

i:hover{
    color: #1496bb;
}
.git-linkedin{
    transition-duration: 0.2s;
}
.git-linkedin:hover{
    border: solid 1px black;
    transform: scale(1.1);
    border-radius: 5px;
}

.Also-visit h5, .title{
    font-family: Montserat;
    font-size: 30px;
    text-align: center;
}
.Also-visit ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Also-visit ul li{
    
    list-style: none;
    padding: 1%;
    font-family: Montserat;
    font-size: 17px;
    
}
.Also-visit ul li a{
    text-decoration: none;
    color: inherit;
}
.Also-visit ul li button{
    background: #1496bb;
    transition-duration: 0.4s;
    color: white;
}
.Also-visit ul li button:hover{
    background: #0d3d56;
    color: white;
}
