/*below CSS to add in new file contact.css*/
/*....illustration and content....*/

/** bymeacoffee**/
body{
    font-family: 'Montserrat', sans-serif;
}
.buttons {
	align-items: center;
	text-align: center !important;
	flex-grow: 1;
	margin: 0 auto;
	position: relative;
	width: auto;
}

.bat span,
.bot span {
	color: #fff;
	font-size: 22px;
	font-weight: -500;
	padding: 0 8px;
  font-family: 'Montserrat', sans-serif;
}

.bat,
.bot {
	background-color: #1c1d1f;
	background: #1c1d1f;
	border: 1.6px solid #2c2f33;
	color: none;
	border-radius: 7px;
	color: rgb(34, 34, 34);
	padding: 10px;
	cursor: pointer;
	transition: 0.5s;
}

.bat:hover,
.bat:focus,
.bot:focus,
.bot:hover {
	background-color: #111113;
	color: #111113;
	background: #111113;
	transition: 0.2s;
}

.bot-avatar {
    margin: 0 auto;
	border-radius: 50%;
	position: relative;
	/* margin-left: 100px;
    margin-top: 80px; */
	width: 60%;
	z-index: 2;
	transition: transform 0.2s;
	align-items: center;
	display: flex;
	justify-content: center;
}

#button1:hover {
	transform: scale(1.2);
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#button2:hover {
	transform: scale(1.2);
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.main-banner {
	z-index: 1;
}

.wave-container > svg {
	display: block;
}

.wave-container {
	position: relative;
	color: #fff;
	text-align: center;
	overflow: hidden;
}

@keyframes animateWave {
	0% {
		transform: scale(1, 0);
	}

	100% {
		transform: scale(1, 1);
	}
}

.wave-container > svg {
	display: block;
	transform-origin: top;
	animation: animateWave 10000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #18191b;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/** bymeacoffee**/



.our-team{
    padding: 1% 3%;
    background: #fff;
    margin-top: 30px;
}
.our-team h5{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 50px;
}
.illustration-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3% 0;
    font-family: 'Montserrat', sans-serif;
}
@media (max-width: 800px){
    .illustration-text{
        display: flex;
        flex-direction: column;
    }
    .illustration-text .text{
      text-align: center;
    }
}
.illustration-text .text{
/*    changed  */
    margin: 5%;
  font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.illustration-text img{
    width: 100%;
    height: auto;
}
.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}
/*............card css.............*/

/* mentor's card css start*/

    #cards-mentor{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 85vh;
      font-family: 'Montserrat', sans-serif;
    }

    .mentor-container {
      position: relative;
      width: 1100px;
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .mentor-container .card {
      background: #fff;
      position: relative;
      max-width: 300px;
      height: 245px;
      margin: 30px 10px;
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      box-sizing: 0 5px 20px rgba(0, 0, 0, 0.5);
      transition: 0.3s ease-in-out;
    }

    .mentor-container .card:hover {
      height: 400px;
    }

    .mentor-container .card .imgBx {
      position: relative;
      width: 96%;
      height: 260px;
      top: -60px;
      left: 5px;
      box-sizing: 0 5px 20px rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    .mentor-container .card .imgBx img {
      max-width: 100%;
      border-radius: 4px;
    }

    .mentor-container .card .content {
      position: relative;
      margin-top: -140px;
      padding: 10px 15px;
      text-align: center;
      color: #111;
      opacity: 0;
      transition: 0.3s ease-in-out;
      visibility: hidden;
    }

    .mentor-container .card .content h5{
        font-weight: bold;
    }

    .mentor-container .card:hover .content {
      visibility: visible;
      opacity: 1;
      margin-top: -40px;
      transition-delay: 0.2s;
    }

/* mentor's card css ends*/

/* mentee's card css start*/
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 30px 50px;
}

.profile-card {
    flex: 1 1 30%;
    background: #fff;
    padding: 20px 30px;     /* originally 20 60*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 #ccc;
    transition: .3s ease;
}

.profile-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px -5px #ccc;
}

.profile-icon {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;

    margin: 10px 0 10px 25px;

}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.open{
    width: 15%;
}
.opensrc{
    font-family: 'Montserrat',sans-serif;
}
@media screen and (max-width: 1000px) {
    .profile-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .profile-container{
        flex-direction: column;

    }
    .profile-card {
        padding: 20px 15px;
        width: 90%;
    }

    .profile-name {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }
    .open {
        width: 35%;
    }
}
/* mentee's card css ends */

/* Code of conduct and licence CSS*/

.code-licence{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 40%;
    box-shadow: 0 0 25px -5px #ccc;
    transition: 0.4s ease;
}
.box1:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px -5px #777;
}
.box1 a img{
    width: 100%;
    height: auto;

}
@media (max-width: 800px){
    .code-licence{
    flex-direction: column;
    }
    .box1 a img{
        width: 100%;
        height: auto;
    }
    .box1{
        width: 90%;
        margin: 10px auto;
    }
}

/*.....Also Visit part.....*/

i:hover{
    color: #1496bb;
}
.git-linkedin{
    transition-duration: 0.2s;
/*    margin-top: 90px;*/
}
.git-linkedin:hover{
/*    border: solid 1px black;*/
    color: brown;
    box-shadow: 2px 2px brown;
    transform: scale(1.1);
    border-radius: 5px;
}

.Also-visit h5, .title{
  font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}
.Also-visit ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Also-visit ul li{

    list-style: none;
    padding: 1%;
  font-family: 'Montserrat', sans-serif;
    font-size: 17px;

}
.Also-visit ul li a{
    text-decoration: none;
    color: inherit;
}
.Also-visit ul li button{
    background: #1496bb;
    transition-duration: 0.4s;
    color: white;
}
.Also-visit ul li button:hover{
    background: #0d3d56;
    color: white;
}

                    /*  ADDED CSS FOR MODIFIED CONTRIBUTORS SECTION */

.clear-fix:after {
  display: block;
  clear: both;
  content: '';
}

.img-responsive {
  max-width: 100%;
  height: auto;
}


.card__collection .cards {
  width: 250px;
  height: 320px;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
  margin: 10px;
}
.card__collection .cards--one {
  backface-visiblility: hidden;
}
.card__collection .cards--one:hover:after {
  bottom: -20px;
}
.card__collection .cards--one:hover:before {
  bottom: -10px;
}
.card__collection .cards--one:hover .cards--one__rect {
  left: 45%;
}
.card__collection .cards--one:hover .cards--one__rect--back {
  left: 50%;
}
.card__collection .cards--one::after {
  content: '';
  display: block;
  position: absolute;
  height: 70px;
  transform: rotate(-3deg);
  background: #e660e3;
  position: absolute;
  bottom: -80px;
  left: 0;
  right: -10px;
  z-index: 9;
  transition: all .2s ease-in;
  transition-delay: .3s;
}
.card__collection .cards--one:before {
  content: '';
  display: block;
  position: absolute;
  height: 80px;
  transform: rotate(-3deg);
  bottom: -90px;
  left: 0;
  background: #fff;
  right: -10px;
  z-index: 5;
  transition: all .2s ease-in;
  transition-delay: .1s;
}
.card__collection .cards--one__rect {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  background: #0f9bc0;
  width: 126px;
  height: 55px;
  transform: skewY(5deg);
  position: absolute;
  display: block;
  top: 60%;
  left: -45%;
  z-index: 1;
  line-height: 3.3rem;
  text-align: center;
  transition: all .2s ease-in;
}
.card__collection .cards--one__rect--back {
  display: block;
  background: rgba(34, 65, 154, 0.8);
  width: 126px;
  height: 55px;
  transform: skewY(7deg);
  position: absolute;
  top: 65%;
  left: -50%;
  transition: all .2s ease-in;
  transition-delay: .3s;
}
.card__collection .cards--one__rect p {
  transform: skewY(-7deg);
  position: relative;
}
.card__collection .cards--two {
  position: relative;
  backface-visibility: hidden;
}
.card__collection .cards--two p {
  position: absolute;
  top: 83%;
  left: -100%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  z-index: 8;
  transition: all .6s ease;
}
.card__collection .cards--two:hover p {
  left: 8%;
}
.card__collection .cards--two:hover img {
  transform: translateY(-15px);
}
.card__collection .cards--two:hover .cards--two__rect {
  top: 90%;
}
.card__collection .cards--two:hover .cards--two__rect:before {
  transform: translateY(10px);
}
.card__collection .cards--two:hover li {
  transform: translateY(0);
}
.card__collection .cards--two:hover .cards--two__tri {
  right: -60%;
}
.card__collection .cards--two:hover .cards--two__tri:before {
  right: -312px;
}
.card__collection .cards--two img {
  transition: all .2s ease;
}
.card__collection .cards--two__tri {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #fff;
  opacity: .9;
  position: absolute;
  display: block;
  top: 0;
  right: -100%;
  transition: all .3s ease-in-out;
}
.card__collection .cards--two__tri:before {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #57ccfd;
  position: absolute;
  content: '';
  display: block;
  top: -220px;
  right: -612px;
  transition: all .3s ease-in-out;
  transition-delay: .2s;
}
.card__collection .cards--two__rect {
  width: 750px;
  height: 200px;
  background: #fff;
  display: block;
  position: absolute;
  top: 175%;
  left: -78%;
  transform: rotate(30deg);
  z-index: 5;
  opacity: .9;
  transition: all .3s ease-in-out;
}
.card__collection .cards--two__rect:before {
  content: '';
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  background: #f07306;
  transform: translateY(200px);
  z-index: 2;
  transition: all .3s ease-in-out;
  transition-delay: .1s;
}
.card__collection .cards--two ul {
  list-style: none;
  position: absolute;
/*  bottom: 0;*/
  left: 20px;
  z-index: 9;
}
.card__collection .cards--two ul li {
  display: inline-block;
  font-size: 16px;
  margin: 7px;
  color: #fff;
  transition: all .2s ease-in-out;
  transform: translateY(100px);
}
.card__collection .cards--two ul li:nth-child(2) {
  transition-delay: .2s;
}
.card__collection .cards--two ul li:nth-child(3) {
  transition-delay: .3s;
}
.card__collection .cards--two ul li:nth-child(4) {
  transition-delay: .4s;
}
