body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(185, 192, 198);
  background-color: #000;
  display: inline;
  position: relative;
}

.wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.849),
      rgba(0, 0, 0, 0.808)
    ),
    url("../images/bg.jpg");
}

#dataField {
  height: 300px;
}

.hidden {
  display: none;
}

.inline-btn {
  margin-right: 10px !important;
  margin-left: 10px !important;
  color: black;
}

.inline-btn:hover {
  background-color: #272727 !important;
  border: none !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #272727;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 10px;
  margin-bottom: 0px;
}

.slider:hover {
  opacity: 1;
}

a:focus,
a:hover {
  color: rgb(185, 192, 198);
}

.footer {
  text-align: center;
  padding: 2.5rem 0 0 !important;
}

label {
  font-weight: 100 !important;
}

.navbar {
  background: #121212;
  border-bottom: none !important;
  height: 6.5rem;
}

.octocat {
  height: 6.5rem !important;
  width: 6.5rem !important;
}
input[type=range]::-webkit-slider-thumb {
	background-color: #4c75f2;
}
input[type=range]::-moz-range-thumb {
	background-color: #4c75f2;
}
input[type=range]::-ms-thumb {
	background-color: #4c75f2;
}

/***** These are to edit the thumb and the text inside the thumb *****/
input[type=range] + .thumb {
	background-color: #ffffff;
}
input[type=range] + .thumb.active .value {
	color: #4c75f2;
	font-weight: 700;
}
input[type=range] {
	position: relative;
	border: none;
	outline: none;
	width: 100%;
	margin: 15px 0;
	padding: 0;
}
