body {
	color: var(--font-color);
	background-color: var(--color-primary);
	display: inline;
	margin: 0;
	padding: 0;
}

#dataField {
	/* height: 300px; */
}
textarea {
	border: solid 1px var(--button-color);
}

.hidden {
	display: none;
}

.inline-btn {
	margin-right: 10px !important;
	margin-left: 10px !important;
	color: var(--color-primary);
	background: var(--button-color);
	border: solid 1px var(--button-color);
}

.inline-btn:hover {
	background-color: var(--button-color-hover) !important;
	border: none !important;
}

.footer {
	text-align: center;
	padding: 2.5rem 0 0 !important;
}

label {
	font-weight: 100 !important;
}

.navigation {
	background: var(--button-color);
	border-bottom: none !important;
	height: 6.5rem;
}

.octocat {
	height: 6.5rem !important;
	width: 6.5rem !important;
}
input[type=range]::-webkit-slider-thumb {
	background-color: #4c75f2;
}
input[type=range]::-moz-range-thumb {
	background-color: #4c75f2;
}
input[type=range]::-ms-thumb {
	background-color: #4c75f2;
}

