/*navbar 2 */
.nav2{
    background: rgb(34, 183, 194);
    height: 2.3em;
    position: sticky;
    top: 4em;
}

.nav2-text{
    color: white;
    font-size: 1em;
    margin-top: -0.8em;
}

.nav2-text:hover{
    background: transparent;
    text-decoration: none;
    color: white;
}

.dropdown-content{
    position: fixed;
}

.dropdown-text:hover{
    background-color: rgb(207, 234, 241);
    color: rgb(11, 11, 124);
}

.row-editor{
    display: flex;
    padding-top: 8em;
}

.column{
    float: left;
}

.input{
    width: 50%;
}

.output{
    width: 50%;
    margin-right: 0;
}

/*Input field*/

.input-box{
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100vh;
    width: 100%;
    padding: 2em;
    font-size: 2em;
    background-color: ivory;
}

/*Output*/

.contribute-wrapper{
    height: 100vh;
    width: 100%;
}