/*navbar 2 */
.nav2{
    background: rgb(34, 183, 194);
    height: 2.3em;
    position: sticky;
    top: 4em;
}

.nav2-text{
    color: white;
    font-size: 1em;
    margin-top: -0.8em;
}

.nav2-text:hover{
    background: transparent;
    text-decoration: none;
    color: white;
}

.dropdown-content{
    position: fixed;
    margin-top: 1rem;
    z-index: 200;
}

.dropdown-text:hover{
    background-color: rgb(186, 225, 235);
    color: rgb(11, 11, 124);
}

.row-editor-top{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-bottom: -5em;
}

@media(max-width: 995px) {
    .row-editor-top {
        flex-direction: column;
    }
}

.column-top{
    float: left;
    width: 100%;
}

.editor-range{
    margin: 2em 5em;
    background-color: rgb(222, 238, 241);
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-blue{
    color: teal;
    font-size: 1em;
}

@media(min-width: 60rem){
    .text-blue{
        font-size: 1.5em;
    }
}

.row-editor{
    display: flex;
    flex-direction: row;
    margin-top: 8em;
    width: 100%;
    height: 100vh;
}

@media(max-width: 995px) {
    .row-editor {
        flex-direction: column;
    }
}

.column{
    width: 50%;
    padding: 1em;
}

@media(max-width: 995px) {
    .column {
        width: 100%;
        height: 50%;
    }
}

.input-box{
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    width: 100%;
    padding: 2em;
    font-size: 2em;
    background-color: ivory;
}

/*Output*/

#contribute-wrapper{
    height: 100%;
    width: 100%;
}

.container-input {
    height: 100%;
    width: 100%;
}

#my-canvas {
    height: 100%;
    width: 100%;
}

/*Download Button*/

.downloadBtn{
    margin: auto;
    width: 50%;
}

@media(min-width: 60rem){
    .downloadBtn{
        margin-left: 33rem;
    }
}

.bold{
    font-weight: normal;
}

@media(min-width: 60rem){ 
.bold{
    font-weight: bold;
}
}

.button-editor{
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: 0.5em 1.5em;
    display: inline-block;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-small-editor{
    font-size: 0.5rem;
    font-weight: 700;
}

.button-accent-editor{
    color: white !important;
    border-color: rgb(19, 243, 19);
    background-color: rgb(19, 243, 19);
}

.button-accent-editor:hover,
.button-accent-editor:focus{
    background: rgb(35, 168, 35) !important;
    color: #fff;
    text-decoration: none;
    border-color: transparent;
}

@media(min-width: 60rem){
   .button-editor{
       font-size: 1.2rem;
       margin-top: 0em;
   }
}