.nav-main {
  list-style-type: none;
  margin-left: 6em;
}

.dropdown-menu {
  z-index: 1;
}

/* to make font size and select box into one line */
.font-size-container {
  display: flex;
  align-items: center;
}

.font-size-container select {
  cursor: pointer;
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.3;
  width: 50px;
  height: 30px;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid #0b3244;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
        
    */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
}

.font-size-container select:hover {
  border-color: rgb(16, 212, 247);
}

.font-size-container select:focus {
  border-color: rgb(16, 212, 247);
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.text-dropdown {
  overflow-y: scroll;
  max-height: 40vh;
}

.dropdown-item {
  padding: 0.3em;
}

.dropdown-text:hover {
  background-color: rgb(186, 225, 235);
  color: rgb(11, 11, 124);
}

.word {
  font-weight: bold;
  color: rgba(62, 247, 247, 0.911);
}

.blue-text {
  color: blue;
}

.blue-text:hover {
  background-color: rgb(178, 178, 240);
}

.black-text {
  color: black;
}

.black-text:hover {
  background-color: rgb(197, 192, 192);
}

.red-text {
  color: red;
}

.red-text:hover {
  background-color: rgb(248, 172, 172);
}

.green-text {
  color: green;
}

.green-text:hover {
  background-color: rgb(141, 238, 141);
}

.pink-text {
  color: rgb(236, 70, 98);
}

.pink-text:hover {
  background-color: rgb(245, 155, 200);
}

.row-editor-top {
  display: flex;
  margin: 0 auto;
  margin-bottom: -5em;
  width: 100%;
}

.form-control-range {
  width: 100%;
}

@media (min-width: 60rem) {
  .form-control-range {
    width: 12em;
  }
}

.editor-range {
  margin-top: 2em;
  margin-left: 0.6em;
  margin-right: 0.6em;
  background-color: rgb(222, 238, 241);
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 95%;
}
.menu-bar {
  display: none;
}
.form-wrapper {
  display: flex;
}

@media (max-width: 995px) {
  .menu-bar {
    width: 95%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    align-items: center;
    overflow: hidden;
    border-radius: 25px;
    z-index: 1;
  }
  .slider-btn {
    color: #0000008f;
    height: inherit;
    width: inherit;
    outline: none;
    border: 1px solid aquamarine;
    outline: none !important;
  }
  .form-wrapper {
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
    grid-template-areas: "inners";
    height: 0;
  }
  .slider-form {
    width: 89%;
    margin: 0 auto;
    grid-area: inners;
    transform: rotateX(-90deg) translateY(-108%);
    transform-origin: top;
    transition: all 0.5s cubic-bezier(0.9, 0, 0.33, 1);
  }
  .slider-open {
    transform: rotateZ(0deg) translateY(0);
    transition: all 0.5s cubic-bezier(0.9, 0, 0.33, 1);
  }
  .row-editor-top {
    flex-direction: column;
    margin: 0.5em auto -5em;
    justify-content: space-around;
    align-items: center;
  }
  .editor-range,
  .form-group {
    margin: 0 auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    height: 75px;
  }
}

.text-blue {
  color: teal;
  font-size: 1em;
}

@media (min-width: 60rem) {
  .text-blue {
    font-size: 1em;
  }
}

.row-editor {
  display: flex;
  flex-direction: row;
  margin-top: 8em;
  width: 100%;
  height: 100vh;
}

@media (max-width: 995px) {
  .row-editor {
    flex-direction: column;
  }
}

.column {
  width: 50%;
  height: calc(100vh - 5rem);
  padding: 0 1em;
}

@media (max-width: 995px) {
  .column {
    width: 100%;
    height: 50%;
  }
}

.input-box {
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  width: 100%;
  padding: 1.5em;
  font-size: 1.5em;
  background-color: ivory;
}

.rValue {
  border-radius: 1em;
  width: 27%;
  padding: 0.5em;
  text-align: center;
  color: teal;
  font-weight: bold;
  float: right;
  margin-bottom: 1em;
  margin-top: -0.5em;
}

/*Input Range*/

.custom-range::-webkit-slider-thumb {
  background: rgb(16, 170, 231);
}

.custom-range::-webkit-slider-thumb:hover {
  background: rgb(16, 137, 173);
}

.custom-range::-moz-range-thumb {
  background: gray;
  height: -0.5em;
}

.custom-range::-ms-thumb {
  background: gray;
  height: -0.5em;
}

/*Output*/

#contribute-wrapper {
  height: 100%;
  width: 95%;
  position: relative;
  padding: 1rem;
  margin-left:4px;
}
@media (min-width: 995px) {
  #contribute-wrapper {
    height: calc(100vh - 5rem);
    width: 45%;
    padding: 0;
    margin-left: 1rem;
  }
}

.container-input {
  height: 100%;
  width: 100%;
}

#my-canvas {
  height: 100%;
  width: 100%;
}

/*Download Button*/

.downloadBtn {
  margin: auto;
  width: 50%;
}

@media (min-width: 60rem) {
  .downloadBtn {
    margin-left: 33rem;
  }
}

@media (min-width: 994px) {
  .download-dropdown {
    margin-left: 33em;
  }
}

.bold {
  font-weight: normal;
}

@media (min-width: 60rem) {
  .bold {
    font-weight: bold;
  }
}

.button-editor {
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  margin-top: 1em;
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-small-editor {
  font-size: 0.5rem;
  font-weight: 700;
}

.button-accent-editor {
  color: white !important;
  border-color: rgb(19, 243, 19);
  background-color: rgb(19, 243, 19);
}

.button-accent-editor:hover,
.button-accent-editor:focus {
  background: rgb(35, 168, 35) !important;
  color: #fff;
  text-decoration: none;
  border-color: transparent;
}

@media (min-width: 60rem) {
  .button-editor {
    font-size: 1.2rem;
    margin-top: 0em;
  }
}

.word-box {
  margin-left: 400px;
  height: 60px;
  width: 220px;
  margin-bottom: 15px;
  border: 4px solid rgb(11, 227, 255);
  border-radius: 50px;
  text-align: center;
  font-weight: bolder;
  color: aliceblue;
}

.bx-clr {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027 #2c5364, #203a43);
  background: linear-gradient(to right, #0f2027, #2c5364, #203a43);
  overflow: hidden;
  z-index: 2;
}

.navbar-nav {
  width: 100%;
}

.nav-link {
  padding: 0.5rem 1rem !important;
}

.flex-n-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.nav-item {
  position: relative;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  z-index: 99;
}

.x-slido,
.y-slido {
  background-color: rgb(222, 238, 241);
  height: 1rem;
  position: absolute;
  transform-origin: left;
  left: 0rem;
  /* width is set dynamically */
}
.y-slido {
  transform: rotateZ(90deg) translate(-1.3%, 50%);
}
.slidos {
  width: 100%;
}

@media (min-width: 995px) {
  #x-axis,
  #y-axis {
    display: none;
  }
}
@media (max-width: 995px) {
  .x-slido,
  .y-slido {
    left: 1rem;
  }
}
