

/*footer*/


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  main {
    flex: 1 0 auto;
  }
      
  .bm{
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
  }

  footer {
    padding-top: 90px;
    bottom: 0;
    font-weight: bold;
  }
  
  footer>div>p{
    font-size: 30px;
  }

  footer .social {
    overflow: hidden;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
  }
  
  footer .social>p{
    font-size: large;
  }

  footer .social .bm {
    color: #000000;
    text-align: center;
    background-color:rgb(255, 255, 255);
    font-size: 18px;
    display: inline-block;
  }
  
  /* footer .social .bm:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  } */
  
  footer .copyright {
    text-align: center;
    border-top: 1px solid rgba(250,250,250,0.2);
    padding-top: 10px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 15px;
    color:#3366CC;
    letter-spacing: 0.88px;
    text-transform: uppercase;
  }
  
  @media (max-width: 992px) {
  
    footer .text {
      margin-bottom: 30px;
    }
    footer h5 {
      margin-bottom: 15px;
    }
    footer .footer-nav {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 768px) {
    footer {
      margin-bottom: 0px;
  }
  footer>div>p{
    font-size: 20px;
  }
  footer .copyright{
    font-size: 13px;
  }
  }