#canvas
{
    border: 3px solid black;
}
.right
{
    float:right;
    display:inline-flex;
    position: relative;
    padding-left: 10%;
    padding-top: 15%;
}
body, button
{
    background-color: #f1f3f8;
    color: #3f5185;
}

button{
    border: 0;
    outline:transparent;
    font-weight: bold;
    color: #3f5185;
    cursor:pointer; 
    border-radius: 20px;
}
.neu
{
    box-shadow: 10px 10px 20px #e0e2e5, -10px -10px 20px #ffffffff;
}
.neu:hover
{
    box-shadow: 2px 2px 2px 0 #dfe4ea inset, -2px -2px 2px 0 #fff inset;
}

button:active{
position:relative;
top:1px;
}
button:focus
{
    outline:none;
}