#canvas
{
    border: 3px solid black;
}
.right
{
    float:right;
    display:inline-flex;
    position: relative;
    padding-left: 10%;
    padding-top: 15%;
}
body, button
{
    background-color: #f1f3f8;
    color: #3f5185;
}

button{
    border: 0;
    outline:transparent;
    font-weight: bold;
    color: #3f5185;
    cursor:pointer; 
    border-radius: 20px;
}
.neu
{
    box-shadow: 10px 10px 20px #e0e2e5, -10px -10px 20px #ffffffff;
}
.neu:hover
{
    box-shadow: 2px 2px 2px 0 #dfe4ea inset, -2px -2px 2px 0 #fff inset;
}

button:active{
position:relative;
top:1px;
}
button:focus
{
    outline:none;
}

.input {
    width: 0px;
    padding: 0px !important;
    height: 30px;
    border: none;
    outline: none;
  }
  
  .input:focus {
    outline: none;
  }
  
  .picker {
    display: flex;
    width: 110px;
    border: 2px solid grey;
  }
  
  .picker div {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    
  }
  .row-top{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
