@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
  margin: 0;
  overflow-x:hidden;
  font-family: Montserrat;
  scroll-behavior: smooth;
  --col-deepblue: #4478e3;
}
a {
  color:#fff;
  text-decoration:none;
}
/* NAVBAR*/

nav {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027 #2c5364, #203a43);
  background: linear-gradient(to right, #0f2027, #2c5364, #203a43); 
}

.nav-wrapper{
  margin-left: 20px;
  margin-right: 10px;
}

.nav-wrapper a:hover,
.sidenav a:hover {
  text-decoration: none;
}

.nav-wrapper a {
  font-weight: bold;
}

.sidenav-trigger {
  margin-left: 0px !important;
}

.brand-logo img {
  width: 180px;
  margin-bottom: 15px;
}

/* Contact page */

.contact-parent{
  display:flex;
  margin-top: 80px;
}

.contact-child{
  display:flex;
  flex:1;
  box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}

#map{
  width:100%;
  height:665px;
}

.child2{
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.inside-contact{
  width:90%;
  margin:0 auto;
}

.inside-contact h2{
  text-align:center;
  margin: 20px;
}

.inside-contact span{
  color: #2c5364;
}

.inside-contact h3{
  text-align:center;
  font-size:16px;
  color:#0085e2;
}

.inside-contact p{
  font-weight:500;
}

.inside-contact input, .inside-contact textarea{
  width:100%;
  border:1px solid rgba(0,0,0,0.48);
  padding:5px 10px;
  margin-bottom:30px;
}

.inside-contact input[type=submit]{
  background-color:#000;
  color:#fff;
  transition:0.2s;
  border:2px solid #000;
}

.inside-contact input[type=submit]:hover{
  background-color:#fff;
  color:#000;
  transition:0.2s;
}

#txt_message{
  height: 6rem !important;
}

input[type="text"]{
  height: 2rem !important;
}

/*Captcha box */ 

.capbox {
	border: 1px solid rgba(0,0,0,0.48);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	padding: 5px 8px 5px 8px;
}

.capbox-inner {
	color: #000000;
	background-color: #FFFFFF;
	margin: 0px auto 0px auto;
	padding: 3px 10px 5px 10px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	}

#CaptchaDiv {
	color: #000000;
	font: normal 25px Impact, Charcoal, arial, sans-serif;
	font-style: italic;
	text-align: center;
	vertical-align: middle;
	background-color: #FFFFFF;
	user-select: none;
	display: inline-block;
	padding: 3px 14px 3px 8px;
	margin-right: 4px;
	border-radius: 4px;
	}

#CaptchaInput {
	border: 1px solid rgba(0,0,0,0.48);
	margin: 3px 0px 1px 0px;
}

/* footer*/

element.style {
    color: red;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
  width:100vw;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 150;
}

footer div {
  background-color: var(--col-deepblue);
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
svg {
  width:100%;
  overflow:visible;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #4478e3;
}
.drop {
  fill: var(--col-deepblue);
  animation: drop 3.2s linear infinite normal;
  stroke: var(--col-deepblue);
  stroke-width:0.5;
  transform: translateY(25px) ;
  transform-box: fill-box;
  transform-origin: 50% 100%;
}

.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
}
.drop4 {
  animation-delay: 1.7s;
}
.drop5 {
  animation-delay: 2.7s;
  animation-duration:3.1s;
}
.drop6 {
  animation-delay: -2.1s;
  animation-duration:3.2s;
}
.gooeff {
    filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(25px); 
  }
  30% {
    transform: translateY(-10px) scale(.1);
  }
  30.001% {
    transform: translateY(25px) scale(1); 
  }
  70% {
    transform: translateY(25px); 
  }
  100% { 
    transform: translateY(-10px) scale(.1);  
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}

/*Resonsive*/

@media screen and (max-width:991px){
  .contact-parent{
      display:block;
      width:100%;
  }

  .child1{
      display:none;
  }

  .child2{
      background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("../images/contact.jpg");
      background-size:cover;
  }

  .inside-contact input, .inside-contact textarea{
      background-color:transparent;
  }
   
  #CaptchaDiv, .capbox-inner{
    background-color: transparent;
  }
  
}