/* CSS file for splash screen */

@import url('https://fonts.googleapis.com/css?family=Barlow');
.brand-logo {
	display: inline-block;
	height: 100%;
	margin-left: 10px;
}
.labels {
	margin: 10px;
	text-align: center;
}
.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 999999;
}
.preloader-wrapper {
	position: absolute;
	top: 48%;
	left: 48%;
}

h1.main,
p.demos {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}
.sp-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}
.sp-content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
}
.sp-container h2 {
	position: absolute;
	font-size: 135px;
	width: 100%;
	text-align: center;
	color: transparent;
	-webkit-animation: blurFadeInOut 3s ease-in backwards;
	-moz-animation: blurFadeInOut 3s ease-in backwards;
	-ms-animation: blurFadeInOut 3s ease-in backwards;
	animation: blurFadeInOut 3s ease-in backwards;
}
.sp-container h2.frame-1 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}

.sp-container h2.frame-5 span {
	-webkit-animation: blurFadeIn 3s ease-in 2s backwards;
	-moz-animation: blurFadeIn 1s ease-in 2s backwards;
	-ms-animation: blurFadeIn 3s ease-in 2s backwards;
	animation: blurFadeIn 3s ease-in 2s backwards;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.sp-container .image {
	-webkit-animation: blurFadeIn 3s ease-in 2s backwards;
	-moz-animation: blurFadeIn 1s ease-in 2s backwards;
	-ms-animation: blurFadeIn 3s ease-in 2s backwards;
	animation: blurFadeIn 3s ease-in 2s backwards;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.sp-globe {
	position: absolute;
	width: 282px;
	height: 273px;
	left: 50%;
	top: 50%;
	margin: -137px 0 0 -141px;
	background: transparent url(http://web-sonick.zz.mu/images/sl/globe.png) no-repeat top left;
	-webkit-animation: fadeInBack 3.6s linear 14s backwards;
	-moz-animation: fadeInBack 3.6s linear 14s backwards;
	-ms-animation: fadeInBack 3.6s linear 14s backwards;
	animation: fadeInBack 3.6s linear 14s backwards;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	-webkit-transform: scale(5);
	-moz-transform: scale(5);
	-o-transform: scale(5);
	-ms-transform: scale(5);
	transform: scale(5);
}

@-webkit-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	20%,
	75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-webkit-transform: scale(0);
	}
}
@-webkit-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes fadeInBack {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-webkit-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-webkit-transform: scale(5);
	}
}
@-webkit-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-webkit-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}

@-moz-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	20%,
	75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-moz-transform: scale(0);
	}
}
@-moz-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}
@-moz-keyframes fadeInBack {
	0% {
		opacity: 0;
		-moz-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-moz-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-moz-transform: scale(5);
	}
}
@-moz-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-moz-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}

@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	20%,
	75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
@keyframes fadeInBack {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0.4;
		transform: scale(2);
	}
	100% {
		opacity: 0.2;
		transform: scale(5);
	}
}
@keyframes fadeInRotate {
	0% {
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}

.loading {
	margin-top: 27%;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	border-top: 14px solid #e74c3c;
	position: relative;
	animation: a1 2s linear infinite;
}
.loading::before,
.loading::after {
	content: '';
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0;
	top: -10px;
	box-sizing: border-box;
	border-radius: 50%;
}
.loading::before {
	border-top: 14px solid #e67e22;
	transform: rotate(120deg);
}
.loading::after {
	border-top: 14px solid #3498db;
	transform: rotate(240deg);
}
.loading span {
	position: absolute;
	width: 200px;
	height: 200px;
	color: #fff;
	text-align: center;
	line-height: 200px;
	animation: a2 2s linear infinite;
}

@keyframes a1 {
	to {
		transform: rotate(360deg);
	}
}
@keyframes a2 {
	to {
		transform: rotate(-360deg);
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden !important;
}

video {
	width: 100%    !important;
  	height: auto   !important;
}

.intro {
	height: 90vh;
	background-color: white;
}


#intro-text {
	font-weight: 300px;
	font-size: 60px;
	padding-top: 100px;
	padding-left: 100px;
}

#intro-image{
	margin-left: 150px;
    width: 500px;
	height: 400px;
	float:left;
}

#intro-description {
    justify-self: center;
    justify-self: center;
	text-align: center;
	width: 500px;
	height: 400px;
	margin-right: 200px;
	float: right;
	font-size: 30px;
}
/**index.html responsive and cards content changing **/

.our-team{
    padding: 1% 3%;
    background: #fff;
    margin-top: 30px;

}
.our-team h5{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3.5em;
		font-weight: 500;

}

.illustration-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3% 0;
}
@media (max-width: 800px){
    .illustration-text{
        display: flex;
        flex-direction: column;
    }
    .illustration-text .text{
      text-align: center;
    }
}
.illustration-text .text{
/*    changed  */
    margin: 5%;
font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
		padding:3% 5%;
		font-weight: 600;

}
.illustration-text img{
    width: 100%;
    height: auto;
}

/**  **/
@media screen and (max-width: 800px) {
    .feature-block{
        flex-direction: column;

    }
    .card {
        padding: 20px 15px;
        width: 90%;
    }

    .content {
        font-size: 16px;
    }
}




/* Cards CSS */


body,
html {
  padding: 0;
  margin: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background:#ebecf1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  flex-direction: auto;
  user-select:none;
}
.box div {
  width: 25vw;
  background: #fff;
  height: 25vw;
  margin: 0 20px;
  cursor: pointer;
  pointer-events: all;
  box-shadow: 5px 5px 0px 0 #3a1372;
  overflow: hidden;
  border-radius: 10px;
  object-fit:cover;
}
.box div img {
  width:80%;
  height:80%;
  transition: transform 1s;
}

.box div:hover {
  filter: grayscale(0);
}
.box div:hover img {
  transform: scale(1.2);
}
.box:hover div:not(:hover) {
  filter: grayscale(1) blur(1px);
}

@media screen and (max-width: 1080px) {
  .box {
    flex-direction: column;
  }
  .box div {
    margin: 20px 0;
    height: 70vw;
    width: 70vw;
  }
}
.clearfix{
    text-align: center;
    color: azure;
    font-size: 30px;
}
.content{
    font-size: 20px;
    text-align: center;
    font-family: Poppins;
}
/* Cards CSS */
.feature-block {
	background-color: #ebecf1;
	margin-top:10px;
 	height: 100vh;
}

#key-titles {
	font-family: 'Montserrat', sans-serif;
	padding-top: 5%;
	margin: 50px;
	font-size: 70px;
	font-weight: 300;
	text-align: center;
}

.cards {
	margin:5% 10% ;
	width: 1000px;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.card {
	margin: 5%;
    grid-gap: 40px;
    grid-template-columns: auto auto auto auto;
    margin-left: -1.5%;
}

.card-image {
	width: 98%;
	height: 170px;
    grid-gap: 2px;
    grid-template-columns: auto auto auto auto;
}

.cards .card {
	position: relative;
}

.cards .card .face {
	width: 300px;
	height: 200px;
	transition: 0.5s;
}

.cards .card .face.face1 {
	position: relative;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
}

.cards .card:hover .face.face1{
	transform: translateY(0px);
}

.cards .card:hover .face.face1 p{
	opacity: 0;
}

.cards .card .face.face2 {
	position: relative;
	background: #d0a1d6;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px whitesmoke;
	transform: translateY(-100px);
}

.cards .card:hover .face.face2{
	transform: translateY(0px);
}

.cards .card .face.face1 .content img {
	max-width: 150px;
}

.cards .card:hover .face.face1 .content img{
	max-width: 100px;
	transition: 0.5s;
	margin-top:20px;
}

.cards .card .face.face1 .content {
	font-size: 20px;
	transition: 0.5s;
}

.cards .card:hover .face.face1 .content{
	opacity: 1;

}

.cards .card .face.face1 .content p {
	margin: 10px 0 0;
	padding: 0;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

@media screen and (max-width: 64rem){
  .cards{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .cards{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .cards{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
@media all and (max-width: 500px) {
  .card {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: row;
  }
}

.cards{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
@media screen and (max-width: 1000px) {
    .cards {
        font-size: 18px;

    }
}

@media screen and (max-width: 800px) {
    .cards{
        flex-direction: column;

    }
    .card {
        padding-left: 20px;
        padding-right: 10px;
        width: 50%;
				font-family: 'Cormorant Garamond', serif;
    }

    .content {
        font-size: 16px;

    }
}


/*--------------------------------------*
