@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
  margin: 0;
  overflow-x:hidden;
  font-family: Montserrat;
  scroll-behavior: smooth;
  --col-deepblue: #4478e3;
}
a {
  color:#fff;
  text-decoration:none;
}
/* NAVBAR*/

nav {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027 #2c5364, #203a43);
  background: linear-gradient(to right, #0f2027, #2c5364, #203a43); 
}

.nav-wrapper{
  margin-left: 20px;
  margin-right: 10px;
}

.nav-wrapper a:hover,
.sidenav a:hover {
  text-decoration: none;
}

.nav-wrapper a {
  font-weight: bold;
}

.sidenav-trigger {
  margin-left: 0px !important;
}

.brand-logo img {
  width: 180px;
  margin-bottom: 15px;
}

/* Contact page */

.contact-parent{
  display:flex;
  margin-top: 80px;
}

.contact-child{
  display:flex;
  flex:1;
  box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}

#map{
  width:100%;
  height:665px;
}

.child2{
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.inside-contact{
  width:90%;
  margin:0 auto;
}

.inside-contact h2{
  text-align:center;
  margin: 20px;
}

.inside-contact span{
  color: #2c5364;
}

.inside-contact h3{
  text-align:center;
  font-size:16px;
  color:#0085e2;
}

.inside-contact p{
  font-weight:500;
}

.inside-contact input, .inside-contact textarea{
  width:100%;
  border:1px solid rgba(0,0,0,0.48);
  padding:5px 10px;
  margin-bottom:30px;
}

.inside-contact input[type=submit]{
  background-color:#000;
  color:#fff;
  transition:0.2s;
  border:2px solid #000;
}

.inside-contact input[type=submit]:hover{
  background-color:#fff;
  color:#000;
  transition:0.2s;
}

#txt_message{
  height: 6rem !important;
}

input[type="text"]{
  height: 2rem !important;
}

/*Captcha box */ 

.capbox {
	border: 1px solid rgba(0,0,0,0.48);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	padding: 5px 8px 5px 8px;
}

.capbox-inner {
	color: #000000;
	background-color: #FFFFFF;
	margin: 0px auto 0px auto;
	padding: 3px 10px 5px 10px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	}

#CaptchaDiv {
	color: #000000;
	font: normal 25px Impact, Charcoal, arial, sans-serif;
	font-style: italic;
	text-align: center;
	vertical-align: middle;
	background-color: #FFFFFF;
	user-select: none;
	display: inline-block;
	padding: 3px 14px 3px 8px;
	margin-right: 4px;
	border-radius: 4px;
	}

#CaptchaInput {
	border: 1px solid rgba(0,0,0,0.48);
	margin: 3px 0px 1px 0px;
}

/* footer*/

element.style {
    color: red;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
  width:100vw;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 150;
}

footer div {
  background-color: var(--col-deepblue);
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
svg {
  width:100%;
  overflow:visible;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #4478e3;
}
.drop {
  fill: var(--col-deepblue);
  animation: drop 3.2s linear infinite normal;
  stroke: var(--col-deepblue);
  stroke-width:0.5;
  transform: translateY(25px) ;
  transform-box: fill-box;
  transform-origin: 50% 100%;
}

.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
}
.drop4 {
  animation-delay: 1.7s;
}
.drop5 {
  animation-delay: 2.7s;
  animation-duration:3.1s;
}
.drop6 {
  animation-delay: -2.1s;
  animation-duration:3.2s;
}
.gooeff {
    filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(25px); 
  }
  30% {
    transform: translateY(-10px) scale(.1);
  }
  30.001% {
    transform: translateY(25px) scale(1); 
  }
  70% {
    transform: translateY(25px); 
  }
  100% { 
    transform: translateY(-10px) scale(.1);  
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}

/*Team section*/

/* .profile-container:hover */

.container{
  padding: 20px;
}

.profile-container {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  transition: 1s all ease;
}

.profile-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;  
  transition: all .5s ease-in;
}

.image-1 , .image-2{
  display: flex;
  justify-content: center;
  padding-bottom:20px;
}
.image-1 .profile-container::before {
  background: url('/assets/images/smaranjit_ghose.png') no-repeat center center/cover;
}

.image-2 .profile-container::before {
  background: url('/assets/images/anush_bhatia.png') no-repeat center center/cover;
}

.profile-container:hover:before {
  opacity: 0;
  transition: all .5s ease;
}

/* Profile Card Wrapper */
.profile-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.profile-wrapper::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,#2c5364 0%, #a563b4 100%);
  transform: skew(30deg) translateX(125%);
  opacity: 0.9;
  transition: all 0.8s ease;
}

.profile-wrapper::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #2c5364 0%, #a563b4 100%);
  transform: skew(30deg) translateX(-125%);
  opacity: 0.9;
  transition: all 0.8s ease;
}

.profile-container:hover .profile-wrapper::after{
  transform: skew(30deg) translateX(125%);
  background: linear-gradient(to right,#a563b4 0%, #2c5364 100%);
  
}
.profile-container:hover .profile-wrapper::before{
  transform: skew(30deg) translateX(-125%);
  background: linear-gradient(to right, #a563b4 0%, #2c5364 100%);
}

/* Profile Card */
.profile-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 10px;
  position: relative;
  opacity: 0;
  transition: all 0.3s ease;
}

.profile-container:hover .profile-card {
  opacity: 1;
  transition: all 0.6s ease;
  transition-delay: 0.2s;
}

/* Profile Picture */
.profile-card img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem 0;
  border: 2px solid transparent;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, green, gold);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
}

.profile-card  h4 {
  line-height: 1.2;
  font-size: 2rem;
  color: #222;
}
.profile-card  h5 {
  color: #444;
  font-size: 1.5rem;
}

.profile-card  p {
  line-height: 1.2;
  color: #333;
  margin: 10px 0;
}

/* Profile Icons */
.profile-card .icons {
  display: flex;
  color: #333;
  width: 40%;
  justify-content: space-evenly;
  font-size: 1.8rem;
  margin: 15px 0;
}

.profile-card .icons i:hover {
  background-image: linear-gradient(to right, #bb47d4 0%, #2371ae 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}


/*Resonsive*/

@media screen and (max-width:991px){
  .contact-parent{
      display:block;
      width:100%;
  }

  .child1{
      display:none;
  }

  .child2{
      background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("../images/contact.jpg");
      background-size:cover;
  }

  .inside-contact input, .inside-contact textarea{
      background-color:transparent;
  }
   
  #CaptchaDiv, .capbox-inner{
    background-color: transparent;
  }
  
}
/*............card css.............*/ 
/*maintee section starts*/ /*background-color:#1c1c28*/

h3{
  text-align: center;
  
}
h4{
  text-align: center;
  line-height: 4;
}
  #cards-mentor{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
  }

  
.display-inline-block{
display:inline-block
}
.grid-wd-100{
width:75%;
border-radius:50%;
}
.team-container figure{
 margin:0;
 width:15.28571%;
 min-height:95px;
 overflow:hidden
}

.team-container figure figcaption{
bottom:-100%;
height:50px;
opacity:10;
background:rgba(245,160,30,.7);
text-shadow:0 0 1px #000;
-ms-transition:all .2s fade-in-out;
-o-transition:all .2s fade-in-out;
-moz-transition:all .2s fade-in-out;
-webkit-transition:all .2s fade-in-out;
transition:all .2s fade-in-out
}


.team-container figure:hover figcaption{
bottom:0;
opacity:1
}
@media only screen and (max-width:520px){
.team-container figure{
  width:50%
}
}
/*mainteens section end*/