.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  background-color: #fcdc29;
  text-align: center;
  height: 100vh;
  font-family: "lato";
  font-weight: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
  .circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fcdc29;
    border-radius: 50%;
    animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
    transform-origin: bottom center;
    position: relative;
  }
  .circle1 {
    animation-delay: 0.1s;
  }
  .circle2 {
    animation-delay: 0.2s;
  }
  .circle3 {
    animation-delay: 0.3s;
  }
  .circle4 {
    animation-delay: 0.4s;
  }
  .circle5 {
    animation-delay: 0.5s;
  }
  .circle6 {
    animation-delay: 0.6s;
  }
  .circle7 {
    animation-delay: 0.7s;
  }
  .circle8 {
    animation-delay: 0.8s;
  }
}
@keyframes loading {
  0% {
    transform: translateY(0px);
    background-color: #fcdc29;
  }
  50% {
    transform: translateY(50px);
    background-color: #ef584a;
  }
  100% {
    transform: translateY(0px);
    background-color: #fcdc29;
  }
}
