.btn {
  padding: 15px;
  border: 3px solid transparent;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 10px;
  box-shadow: 2px 4px 5px #0000005b;

  &:disabled {
    cursor: not-allowed;
    background-color: #cccccc;
    color: #beb8b8;
    border: 3px solid transparent;

    &:hover {
      background-color: #cccccc;
      border: 3px solid transparent;
      color: #b1afaf;
    }
  }
}

.primary {
  background: #add8e6;
  color: black;

  &:hover {
    background: #5597c0a6;
    color: rgba(0, 0, 0, 0.651);
    border: 3px solid #4e89ae;
  }
}

.secondary {
  background: #4e89ae;
  border: 3px solid #4e89ae;
  color: white;

  &:hover {
    background: #5597c0a6;
    color: rgba(0, 0, 0, 0.651);
    border: 3px solid #4e89ae;
  }
}
