.ContactUs {
  text-align: center;
  margin-top: 5rem;
}

.ContactUs > h2 {
  margin-top: 5px;
}

.contact_and_info_container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  margin: 1rem 0 9rem;
}

.map {
  min-height: 60vh;
  min-width: 350px;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
  margin: 0px 20px 0px 0px;
}
.titleMain {
  font-family: "Poppins", sans-serif;
  color: #4e89ae;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 3px 4px 2px #0000002e;
}
@media (max-width: 418px) {
  .map {
    min-width: 100vw;
    min-height: 67vh;
  }
}
