.left {
  object-fit: contain;
  width: 100px;
}
.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header_links {
  padding: 0.3rem 0.5rem;
  margin: 0 0.1rem;
  border-radius: 15px;
  cursor: pointer;
}

.header_links:hover {
  background-color: white;
  color: #103f5f;
}
