@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
.info {
  width: 350px;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  color: white;
  text-shadow:" 0 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2)" ;
  
}

.general_info {
  margin: 0.35rem 1rem;
  box-shadow: 0 5px 5px #63a4ff , 0px 0px 5px #83eaf1 ;
background-image: linear-gradient(315deg, #83eaf1  0%, #63a4ff 74%);
border-radius: 10px;
}

.general_info h4 {
  text-transform: uppercase;
  padding: 10px 20px 10px;
  color: white;
  font-family: 'Mulish', sans-serif;
  text-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2); 
}

.contact_form {
  /* width: 80%; */
  width: 100%;
}

.contact_form input:focus {
  outline: none;
}

.outer_div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "FontAwesome";
  width: 100%;
  height: 43px;
  padding: 0 20px;
 font-size: 13px;
 margin-bottom: 10px;
 border-radius: 10px;
 color:royalblue;
 box-shadow: 0 2px 2px #63a4ff , 0px 0px 2px #83eaf1;
}


.contact_form input {
  font-family: 'Mulish', sans-serif;
  outline: none;
  border: none;
   width: 100%;
   height: 43px;
   padding: 0 20px;
  font-size: 15px;  
  color: royalblue;
}

.contact_form input::placeholder {
  font-size: 13px;
  color: royalblue;
 
  font-family: 'Mulish', sans-serif;
}

.contact_form textarea {
 
  font-family: 'Mulish', sans-serif;
  width: 100%;
  border: 0;
  background: #fcfcfc;
  font-size: 16px;
  outline: none;
  resize: none;
  padding: 10px;
  height: 110px;
  color:  royalblue;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 2px;
}
.contact_form textarea::placeholder{
color: royalblue;
}

.submit {
  background-color:#63a4ff;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 12px;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  cursor: pointer;
  align-self: flex-end;
  border:none;
  position: relative;
  overflow: hidden;
}
.buttonText {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.submit:hover .buttonText {
  color: #272727;
}
.hoverEffect {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 0 50% 100% 0;
  background-color: #fcfcfc;
  width: 500px;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: top left;
}

.submit:hover .hoverEffect {
  transform: scale(1);
  height: 200%;
}

.contact_form_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.fieldsWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 1;
}
.inputDiv {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.name {
  display: flex;
  gap: 8px;
}

.name > * {
  width: 149px;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.experience span {
  font-weight: bold;
}

@media (max-width:768px){
  .info{
    min-width: 70%
  }
}