.Header {
    background-color: #103F5F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5rem 1rem;
    z-index: 9999;
    font-weight: bold;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 5px white;
}

.left {
    object-fit: contain;
    width: 170px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_links {
    padding: 0.3rem 0.5rem;
    margin: 0 0.1rem;
    border-radius: 15px;
    cursor: pointer;
}

.header_links:hover {
    background-color: white;
    color:#103F5F
}