.footer-text {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
  }
  
  .footer-div {
    z-index: 150;
    margin-top: 2rem;
    background-color: black;
    /* background-image: linear-gradient(to left, rgb(127, 206, 197) , rgb(20, 85, 123) 74%); */
    height: 13.1rem;
  }
  
  .newsletter{
    color: white;
    text-align: center;
    font-family: 'Courier New';
  }
  .newsletter .heading h5{
    font-family: 'Courier New';
    font-weight: bold;
  }
  .email-field{
    width: 400px;
    text-align: center;
    margin: 0 auto;
  }
  .form{
    display: inline-block;
    display: flex;
  }
  .box{
    width: 400px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 15px;
  }
  .box input{
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
  }
  .bsClass{
    outline:white;
    background-color:black;
    margin-left: 0.5%;
  }
  .icon {
    padding: 10px;
    color: dodgerblue;
  }
  @media screen and (max-width: 474px){
    .footer-div{
      height:20.1rem;
    }
    .form{
      flex-direction:column;
      margin-left:0px;
    }
    .form{
      width:200px;
      margin-left:0px;
    }
    .box{
      width:300px;
      margin-left:30px;
    }
    .bsClass{
      margin-left:100px;
      margin-top:2px;
      
    }
    .text-muted{
      width:300px;
      text-align:center;
    }
  }