.About {
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

.title {
    font-family: 'Poppins', sans-serif;
    color: #4e89ae;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 4px 2px #0000002e;
}

.line {
    font-size: 1.3rem;
    width: 90%;
    margin: 1rem;
}

.steps {
    margin-top: 3rem;
    width: 90%;
}

.step {
    display: flex;
    justify-content: center;
    margin: 5rem 3rem;
    align-items: center;
}

@media(max-width:730px) {
    .step {
        flex-wrap: wrap;
    }
}

.illustration {
    padding: 0 1rem;
    box-sizing: border-box;
}

.step_reverse {
    flex-direction: row-reverse;
}

.step img {
    width: 270px;
}

.step_text {
    padding: 0 0.1rem;
}

.step_title {
    font-size: 2.5rem;
    color: #4e89ae;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 3rem;
}

.step_content {
    font-size: 1.5rem;
    overflow-wrap: anywhere;
    padding-left: 3rem;
}

.open_source {
    font-weight: bold;
    color: #4e89ae;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 3rem 0;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(12, 11, 11, 0.7); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 13px rgba(31, 113, 180, 5); 
}
