@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.stickyWrap {
  background-color: #0d1117;
}

.homeSectionWrap {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
  background-image: url("./../../assets/images/404/skate2.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 80% auto;
  gap: 2rem;
}
.heading {
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 2px 1px 0px rgb(255 255 255 / 45%);
  padding: 0 10px;
  font-family: Luckiest guy;
  padding: 2rem;
}
.emoji {
  text-shadow: none;
}
.float {
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}
.head {
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
  flex-direction: column;
  gap: 20px;
  z-index: 11;
}
.navlink {
  color: rgb(202, 202, 202);
  text-decoration: none;
  font-size: 2rem;
  border: solid 2px;
  border-radius: 25px;
  padding: 5px 20px;
}
.navlink:hover {
  color: rgb(202, 202, 202);
  background-color: #1e2836;
  border: #1e2836 solid 2px;
}
.particleContainer {
  flex: 2;
  max-width: 900px;
}

.particleWrap {
  position: relative;
}

.about {
  box-shadow: 7px 0 13px #ffffff;
}

@media (max-width: 760px) {
  /* .stickyWrap {
    background-image: linear-gradient(to bottom, #0619c0 50%, #F4B400 50%);
  } */

  .homeSectionWrap {
    flex-direction: column-reverse;
    min-height: 100vh;
    background-size: 105% auto;
  }
  .head,
  .particleContainer {
    flex: none;
  }
  .particleContainer {
    height: 60vh !important;
  }
  .head {
    height: 40vh;
  }

  .navlink {
    background-color: #0d1117;
  }
  /*
  .navlink:hover {
    color: #F4B400;
    border-color: transparent;
  } */
}
