@-webkit-keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
}

.stickyWrap {
  background-image: linear-gradient(to left, #F4B400 50%, #1DB954 50%);
}

.homeSectionWrap {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
  background-image: url("./../../assets/images/404/skate2.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size:80% auto;
  gap: 2rem;
}
.heading {
  text-align: center;
  font-size: 2.3rem;
  text-shadow: 2px 1px 0px rgb(255 255 255 / 45%);
  padding: 0 10px;
}
.emoji {
  text-shadow: none;
}
.float {
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}
.head {
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
  flex-direction: column;
  gap: 20px;
  z-index: 11;
}
.navlink {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  border: solid 2px;
  border-radius: 25px;
  padding: 5px 20px;
}
.navlink:hover {
  color: #4285F4;
  background-color: #ffffff;
  border: #1DB954 solid 2px;
}
.particleContainer {
  flex: 2;
  max-width: 900px;
}

.particleWrap {
  position: relative;
}

.particleSlider canvas {
  -webkit-filter: invert(0.8);
  filter: invert(0.8);
}

.about {
  box-shadow: 7px 0 13px #ffffff;
}

@media (max-width: 760px) {
  .stickyWrap {
    background-image: linear-gradient(to bottom, #0619c0 50%, #F4B400 50%);
  }

  .homeSectionWrap {
    flex-direction: column-reverse;
    min-height: 100vh;
    background-size: 105% auto;
  }
  .head,
  .particleContainer {
    flex: none;
  }
  .particleContainer {
    height: 60vh !important;
  }
  .head {
    height: 40vh;
  }

  .particleSlider canvas {
    -webkit-filter: invert(0);
    filter: invert(0);
  }

  .navlink {
    background-color: #F4B400;
  }
  .navlink:hover {
    color: #F4B400;
    border-color: transparent;
  }
}
@media (max-width: 615px) {
  .heading {
    font-size: 1.5rem;
  }
}
