@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");

.root {
  font-family: "Amatic SC", sans-serif;
  font-size: 100px;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 30px;
}

.small {
  font-size: 2.2rem;
  margin-top: 10px;
}

.smaller {
  font-size: 2rem;
}

p {
  margin: 0;
}

.sadImg {
  position: relative;
  height: 200px;
  width: 342px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  background-position:center;
  margin-top: 30px;
}

.sadImg::after {
  content: "";
  display: block;
  width: 125px;
  border-radius: 100%;
  filter: blur(2px);
  background-color: #000;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.fours {
  height: 100%;
  width: 200px;
  position: relative;
}

.fours::before,
.fours::after {
  content: "4";
  position: absolute;
  bottom: 0;

  font-size: 14rem;
  font-family: "Luckiest Guy";
  line-height: 0.94;
}
.fours::before {
  left: -140px;
}

.fours::after {
  right: -140px;
}

.navlink {
  color: rgb(202, 202, 202);
  text-decoration: none;
  font-size: 2rem;
  box-shadow: 0 0 0 1.5px #fff;
  border-radius: 25px;
  padding: 5px 20px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.navlink:hover {
  color: rgb(202, 202, 202);
  background-color: #1e2836;
  box-shadow: 0 0 0 1.5px #1e2836;
}
.buttonText {
  position: relative;
  z-index: 1;
  color: #08fdd8;
}
.navlink:hover .buttonText {
  color: #272727;
}
.hoverEffect {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 0 100% 100% 0;
  background-color: #fcfcfc;
  width: 500px;
  height: 100%;
  transform: scale(0, 1) translate(-10px, -10px);
  transform-origin: top left;
}

.navlink:hover .hoverEffect {
  transform: scale(1) translate(-10px, -10px);
  height: 200%;
}

@media (max-width:570px){
  .sadImg{
    transform: scale(0.6);
  }
  .root{
    font-size: 3.5rem;
  }
}