.test {
	-webkit-animation: squiggly-anim 0.34s linear infinite;
	animation: squiggly-anim 0.34s linear infinite;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	outline: none;
	text-align: center;
	line-height: 1;
}

@-webkit-keyframes squiggly-anim {
	0% {
		-webkit-filter: url("#squiggly-0");
		filter: url("#squiggly-0");
	}

	25% {
		-webkit-filter: url("#squiggly-1");
		filter: url("#squiggly-1");
	}

	50% {
		-webkit-filter: url("#squiggly-2");
		filter: url("#squiggly-2");
	}

	75% {
		-webkit-filter: url("#squiggly-3");
		filter: url("#squiggly-3");
	}

	100% {
		-webkit-filter: url("#squiggly-4");
		filter: url("#squiggly-4");
	}
}

@keyframes squiggly-anim {
	0% {
		-webkit-filter: url("#squiggly-0");
		filter: url("#squiggly-0");
	}

	25% {
		-webkit-filter: url("#squiggly-1");
		filter: url("#squiggly-1");
	}

	50% {
		-webkit-filter: url("#squiggly-2");
		filter: url("#squiggly-2");
	}

	75% {
		-webkit-filter: url("#squiggly-3");
		filter: url("#squiggly-3");
	}

	100% {
		-webkit-filter: url("#squiggly-4");
		filter: url("#squiggly-4");
	}
}
