
 .emojis {
   justify-content: center;
   margin: auto;
  align-items: center;
  margin-top: 20px;
  height: 60px;
  user-select: none;
  margin-bottom: 14px;
}

.radio {
  display: none;
}
.radio ~ span {
  font-size:30px;
  cursor: pointer;
  transition: 0.3s;
  margin: 12px;
  text-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2); 
}


.radio:checked ~ span {
  font-size: 2.3rem;
}

.emoji:hover {
  
  opacity: 1;
}

