$white: #fff;
$white1: #bcdbee;
$white2:#fcfcfc;

$black_0-3: #0000004d;
$black_0-8: #000000de;
$black: #000;

$light-pink: #bfdbb4;

$light-grey:#fcfcfc;
$grey: grey;

$light-purple: #376f92;
$purple: #103f5f;

$light-blue: #add8e6;
$steel-blue: #4e89ae;
$blue1:#4285f4;
$blue2:#1963db;
$blue3:#3d1f90;

$red: red;
