$white: #fff;
$bluish-white: #bcdbee;

$black-light-tint: #0000004d;
$black-dark-tint: #000000de;
$black: #000;

$light-pink: #bfdbb4;

$light-grey:#fcfcfc;
$medium-dark-grey: #444;
$dark-grey: #222;
$grey: grey;
$gray:  #94a7ae;

$light-purple: #376f92;
$purple: #103f5f;
$purple-blue:#7f53ac;

$light-blue: #add8e6;
$steel-blue: #4e89ae;
$royal-blue:#4285f4;
$navy-blue:#1963db;
$dark-blue:#3d1f90;
$blue: #002366;
$lime-blue:#4169e1;
$snow-blue:#647dee;
$water-blue:#0cbaba;

$maroon:#6b0f1a;
$red: red;
$gold: gold;

$green: green;
$light-green-tint:rgba(245, 160, 30, 0.7);