.canvas {
    border: 3px solid blue;
    border-radius: 11px;
    margin: 11px;
    margin-bottom: 0;
    background-color: white;
    cursor: crosshair;
}

.options {
    margin: 0 11px;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.button {
    margin-left: 11px;
    padding: 5px 7px;
    color: white;
    font-size: 0.9rem;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_clear {
    background-color: red;
}

.btn_download {
    background-color: #219653;
}

.mousePosition {
    margin: 0 11px;
    font-size: 0.7rem;
}

.shapes {
    display: flex;
    margin-right: 1rem;
}

.shape_box {
    background-color: antiquewhite;
    cursor: pointer;
    padding: 0.7rem 0.5rem;
    margin: 0 0.3rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active_shape_box {
    background-color: aquamarine;
}