@use './../../../scss/colors';

.feature_container {
  position: absolute;
  display: flex;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: colors.$white;
  box-shadow: 0 0 3px 0.3px colors.$grey;
  label {
    display: flex;
    padding: 0;
    margin: 0;
    .feature {
      position: relative;
      padding: 0.7rem 0.5rem;
      margin: 0 0.2rem;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      background-color: colors.$bluish-white;
      color: black;
      &:hover{
        background-color: rgb(189, 186, 186);
      }
    }
  }
  .iconLibContainer {
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: -1px;
    z-index: 9998;
  }
  .iconLibContainer--open {
    width: calc(100vw - 50px);
    height: calc(100vh - 150px);
  }
}

.download_clear_container {
  top: 0.75rem;
  right: 30px;
}

.canvas {
  border-radius: 11px;
  background-color: colors.$white;
  cursor: crosshair;
  width: 99%;
}

.mousePosition {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 0.7rem;
}

.text_container {
  position: absolute;
  pointer-events: none;
  overflow-x: hidden;
  .text {
    position: absolute;
    input {
      border: none;
      padding: 0;
      outline: none;
      background-color: transparent;
      width: fit-content;
    }
  }
}
