.container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > p {
  font-weight: bold;
  margin-bottom: 12px;
}

.head {
  position: relative;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 200px;
  overflow: hidden;
}

.head span {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}

.head:hover .liquid {
  top: -120px;
}

.head .liquid {
  position: absolute;
  left: 0;
  top: -80px;
  width: 200px;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.head .liquid:before,
.head .liquid:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.head .liquid:before {
  border-radius: 45%;
  background: rgb(255, 255, 255);
  animation: animate 5s linear infinite;
}
.head .liquid:after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
