name: Delete Merged Branches
on:
  pull_request:
    types:
      - closed
jobs:
  delete_branch:
    runs-on: ubuntu-latest
    steps:
      - name: delete branch
        uses: SvanBoxel/delete-merged-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
